
.banner-sm {
  width: 100%;
  min-height: 30rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $light-color;
  padding: 2rem;
  // margin-bottom: 2rem;
  background: {
    position: right 100px;
    repeat: no-repeat;
    size: cover;
  }

  @include media-query(420px) {
    min-height: 23rem;
    align-items: flex-end;
    background: {
      image: linear-gradient(rgba(22,53,70,.9), rgba(43,106,139,0.9)),
         url("../img/banner-sm.jpg")!important;
      position: right center;
    }
  }
  
    &-wrapper {
      display: flex;
      align-items: flex-end;
      padding-top: 15rem;
      padding-bottom: 2rem;
      
      @include media-query(420px) {
        justify-content: center;
        min-height: inherit;
        padding-top: 0rem;
      }
    }
  

  h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
    @include media-query(520px) {
      font-size: 2.5rem;
    }
  }

  h3 {
    font-size: 2rem;
    font-weight: 400;
  }
}

.banner-sm.lg-only {
  @include media-query(420px) {
    display: none;
  }
}