$primary-color: #3f9cd1;
$secondary-color: #fc9726;
$light-color: #ffffff;
$dark-color: #242424;
$darkgray-color: #929292;
$lightgray-color: #9aa2a2;
$disable-color: #e9e9e9;
$gray-color: #fafafa;
$error-color: #f86262;
$light-1: #fafafa;


$primary-font: "LatoWeb", sans-serif;
$thin-font: "LatoWebThin", sans-serif;
$light-font: "LatoWebLight", sans-serif;
$bold-font: "LatoWebBold", sans-serif;
$black-font: "LatoWebBlack", sans-serif;

$banner-img: "../img/main-banner.jpg";
$banner-quick-donate: "../img/main-banner.jpg";
